.nrkbetaquiz label.answer {
    cursor: pointer;
    display: inline-block;
    margin: 0 7px 6px 0;
    border-radius: 5px;
    padding: 10px 15px;
    background: #eee;
}
.nrkbetaquiz label:hover {
    background: #ccc;
}
.nrkbetaquiz p.correct,
.nrkbetaquiz p.error {
    font: inherit;
    animation: .5s nrkbetaquiz;
}
.nrkbetaquiz p.correct {
    color: green;
    font-weight: bold;
}
.nrkbetaquiz p.error {
    color: red;
}
@keyframes nrkbetaquiz {
    from { transform: scale(0); }
    to { transform: scale(1); }
}
